@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  overflow-x: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

a {
  display: inline-block;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active,
button:hover,
button:active,
input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

a:focus-visible {
  outline: none;
  outline-offset: 0;
}

img {
  display: inline-block;
  border: none;
}

input, button, select {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=submit] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

hr {
  border: none;
}

::selection {
  background: #cce5ff;
}

@media (max-width: 768px) {
  body {
    position: relative;
    font-family: "微软雅黑", NeeaSimsun-Regular;
    color: #000;
  }
}
@media (min-width: 769px) {
  body {
    font-family: "Microsoft yahei", Arial, "Times New Roman", Times, serif, NeeaSimsun-Regular;
    color: #404040;
  }
}
body {
  width: 100%;
  font-size: 0.875rem;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .page-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
  }
}
@media (min-width: 769px) {
  .page-header {
    position: relative;
    width: 75rem;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    clear: both;
  }
}
@media (min-width: 769px) {
  .page-header .dt-header-top {
    position: relative;
    margin: 0 auto;
    height: 6.625rem;
  }
}
@media (max-width: 768px) {
  .page-header .dt-header-top .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.625rem;
  }
}
@media (min-width: 769px) {
  .page-header .dt-header-top .header-top {
    float: left;
    margin-top: 0.9375rem;
  }
}
@media (min-width: 769px) {
  .page-header .dt-header-top .header-top .header-top-logo {
    float: left;
  }
}
@media (max-width: 768px) {
  .page-header .dt-header-top .header-top .header-top-logo img {
    width: 9.125rem;
    max-height: 2.25rem;
  }
}
@media (min-width: 769px) {
  .page-header .dt-header-top .header-top .header-top-logo img {
    width: 18.4375rem;
  }
}
@media (min-width: 769px) {
  .page-header .dt-header-top .header-top .header-top-action {
    display: none;
  }
}
.page-header .dt-header-top .header-top .header-top-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page-header .dt-header-top .header-top .header-top-action .header-top-action-more,
.page-header .dt-header-top .header-top .header-top-action .header-top-action-search {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}
.page-header .dt-header-top .header-top .header-top-action .header-top-action-search {
  background: url("../img//search.png") 100% no-repeat;
  background-size: cover;
  margin-right: 0.9375rem;
}
.page-header .dt-header-top .header-top .header-top-action .header-top-action-more {
  background: url("../img//menu.png") 100% no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .page-header .dt-header-top .header-about {
    display: none;
  }
}
.page-header .dt-header-top .header-about {
  float: right;
  position: relative;
  width: 31.25rem;
  padding-top: 0.625rem;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #313F61;
}
.page-header .dt-header-top .header-about .header-about-container {
  position: absolute;
  right: 0;
}
.page-header .dt-header-top .header-about .header-about-container a {
  color: #313F61;
  margin: 0 0.25rem;
}
@media (max-width: 768px) {
  .page-header .header-search {
    display: none;
  }
}
.page-header .header-search {
  position: absolute;
  top: 3.125rem;
  right: 0;
}
.page-header .header-search input[type=submit] {
  float: right;
  width: 2rem;
  height: 1.75rem;
  background: url("../img//search-dt.jpg") no-repeat left top;
  border: none;
  cursor: pointer;
}
.page-header .header-search input[type=text] {
  float: right;
  width: 14.25rem;
  height: 1.75rem;
  padding: 0 0.3125rem;
  border: 1px solid #999;
  border-bottom-color: #e5e5e5;
  border-right-color: #e5e5e5;
  line-height: 1.75rem;
  color: #666;
}
@media (max-width: 768px) {
  .page-header .header-nav {
    width: 100%;
    overflow: auto;
  }
}
@media (min-width: 769px) {
  .page-header .header-nav {
    height: 2.875rem;
    background-color: #e7e8eb;
    border-bottom: solid 3px #003e7d;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .page-header .header-nav .header-nav-icon {
    display: none;
  }
}
.page-header .header-nav .header-nav-icon {
  float: left;
  width: 4.375rem;
  height: 2.875rem;
  background: #ff7f00;
  text-align: center;
}
@media (max-width: 768px) {
  .page-header .header-nav .header-nav-list {
    display: flex;
    justify-content: space-around;
    width: 230%;
    height: 2.25rem;
    background: #003f7e;
    font-size: 1rem;
    line-height: 2.25rem;
  }
  .page-header .header-nav .header-nav-list a {
    color: #fff;
  }
}
@media (min-width: 769px) {
  .page-header .header-nav .header-nav-list {
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 69.0625rem;
    padding: 0 0 0 1.25rem;
    line-height: 2.875rem;
  }
  .page-header .header-nav .header-nav-list li {
    cursor: pointer;
  }
  .page-header .header-nav .header-nav-list li:first-child, .page-header .header-nav .header-nav-list li:last-child {
    display: none;
  }
  .page-header .header-nav .header-nav-list li:nth-child(6) {
    color: #ff7f00;
  }
  .page-header .header-nav .header-nav-list li:hover {
    color: #ff7f00;
  }
}
@media (min-width: 769px) {
  .page-header .header-nav i {
    display: none;
  }
}
.page-header .header-nav i {
  position: fixed;
  top: 3.9063rem;
  right: 0.3125rem;
  font-style: inherit;
  color: #fff;
}
@media (max-width: 768px) {
  .page-header .header-bottm {
    display: none;
  }
}
@media (min-width: 769px) {
  .page-header .header-bottm {
    height: 1.875rem;
    padding-left: 0.9375rem;
    border-bottom: solid 1px #DDD;
    line-height: 1.875rem;
  }
  .page-header .header-bottm .header-bottom-index::before {
    content: "";
    display: inline-block;
    width: 1.125rem;
    height: 0.875rem;
    background: url("../img//dt-page-map.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #003f7e;
  }
  .page-header .header-bottm a {
    color: #000;
  }
  .page-header .header-bottm img {
    vertical-align: middle;
  }
  .page-header .header-bottm .header-bottm-right {
    float: right;
    width: 50%;
    text-align: right;
  }
  .page-header .header-bottm .header-bottm-right span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .page-header .header-bottm .header-bottm-right span .header-bottom-right-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.25rem;
    color: #003f7e;
  }
  .page-header .header-bottm .header-bottm-right span .header-bottom-right-user::before {
    content: "";
    width: 1.125rem;
    height: 1.125rem;
    background: url("../img//user.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #003f7e;
  }
  .page-header .header-bottm .header-bottm-right span .header-bottom-right-logout {
    margin-left: 0.25rem;
  }
}

@media (min-width: 769px) {
  .page-main {
    width: 75rem;
    margin: 0 auto 1.875rem;
    text-align: left;
    overflow: hidden;
    clear: both;
  }
}
@media (max-width: 768px) {
  .page-main .main-nav .main-nav-container {
    padding: 0.5rem 0.625rem 0.375rem;
    border-bottom: 1px solid #eee;
    font-size: 0.875rem;
    color: #666;
  }
  .page-main .main-nav .main-nav-container a {
    color: #666;
  }
}
@media (min-width: 769px) {
  .page-main .main-nav .main-nav-container {
    height: 1.875rem;
    padding-left: 0.9375rem;
    border-bottom: solid 1px #DDD;
    line-height: 1.875rem;
  }
  .page-main .main-nav .main-nav-container .main-nav-index-page::before {
    content: "";
    display: inline-block;
    width: 1.125rem;
    height: 0.875rem;
    background: url("../img//dt-page-map.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: contain;
    color: #003f7e;
  }
  .page-main .main-nav .main-nav-container a {
    color: #000;
  }
}

@media (max-width: 768px) {
  .page-footer {
    background: #f5f5f5;
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 769px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: 75rem;
    height: 6.875rem;
    margin: 0 auto;
    padding: 0.625rem 4rem;
    background: #f4f4f4;
    border-top: 0.0625rem solid #ccc;
    font-size: 0.75rem;
    color: #303D5D;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .page-footer .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0 0;
  }
  .page-footer .footer-menu li {
    font-size: 0.875rem;
    color: #000;
  }
  .page-footer .footer-menu li a {
    margin: 0 0.625rem;
    font-size: 0.75rem;
    color: #303D5D;
  }
}
@media (min-width: 769px) {
  .page-footer .footer-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .page-footer .footer-content {
    padding: 0.625rem 0 0;
  }
}
.page-footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .page-footer .footer-content .footer-content-img {
    min-width: 4rem;
    min-height: 4rem;
    position: relative;
    left: -0.5rem;
  }
}
@media (max-width: 768px) {
  .page-footer .footer-content .footer-content-img img {
    max-width: 100%;
    width: 8vmin;
    height: 8vmin;
  }
}
@media (min-width: 769px) {
  .page-footer .footer-content .footer-content-detail {
    height: 3.75rem;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-title {
    font-size: 3vmin;
    color: #303d5d;
    line-height: 1.6;
  }
}
@media (min-width: 769px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-title {
    font-size: 0.75rem;
    color: #303d5d;
  }
}
@media (max-width: 768px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-title .footer-content-detail-title-text {
    margin: 0.3125rem;
  }
}
@media (max-width: 768px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-container {
    font-size: 3vmin;
    color: #303D5D;
    line-height: 1.6;
  }
}
@media (min-width: 769px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-container {
    color: #303d5d;
  }
}
@media (max-width: 768px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-container .footer-content-detail-item .footer-content-detail-text {
    margin: 0.3125rem;
  }
}
@media (min-width: 769px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-container .footer-content-detail-item .footer-content-detail-text {
    height: 1.25rem;
    line-height: 1.25rem;
    color: #303d5d;
  }
}
@media (max-width: 768px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-container .footer-content-detail-item img {
    width: 1rem;
    height: 1rem;
    margin-top: -3px;
  }
}
@media (min-width: 769px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-container .footer-content-detail-item img {
    height: 0.875rem;
    margin: 0 0.25rem 0 0.75rem;
  }
}
.page-footer .footer-content .footer-content-detail .footer-content-detail-container .footer-content-detail-item img {
  vertical-align: middle;
}
@media (max-width: 768px) {
  .page-footer .footer-content .footer-content-detail .footer-content-detail-tips {
    display: none;
  }
}
.page-footer .footer-content .footer-content-detail .footer-content-detail-tips {
  font-size: 0.75rem;
  line-height: 1.5;
  color: #303d5d;
  text-align: justify;
}
@media (max-width: 768px) {
  .page-footer .footer-link {
    display: none;
  }
}
@media (min-width: 769px) {
  .page-footer .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .page-footer .footer-link .footer-link--title span {
    padding: 0.3125rem 0.5rem 0.3125rem 0;
  }
  .page-footer .footer-link .footer-link-content {
    display: flex;
    gap: 4rem;
    margin-top: 0.5rem;
  }
}