@charset "UTF-8";
@media (min-width: 769px) {
  .page-main .main-container {
    float: left;
    position: relative;
    width: 51.25rem;
    margin: 0 0 1.875rem 0;
    padding: 0 1.25rem;
    border-right: solid 1px #ddd;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-title {
    margin: 1.2vmin;
    padding: 0 3vmin;
    font-size: 4.53333333vmin;
    font-weight: 700;
    line-height: 1.5;
    color: #003f7e;
    text-align: center;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-title {
    height: 1.875rem;
    margin: 1.875rem 0;
    font-size: 1.375rem;
    color: #3083c7;
    line-height: 1.875rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form {
    margin: 3vmin;
    padding: 3vmin 3vmin 0;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1.8vmin rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form {
    font-size: 0.875rem;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-container {
    width: 32.5rem;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .form-item {
    margin-bottom: 3.2vmin;
  }
  .page-main .main-container .main-form .form-item:nth-child(2) label {
    width: 4em;
    text-align-last: justify;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-item {
    display: flex;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 2.375rem;
    clear: both;
  }
}
.page-main .main-container .main-form .form-item label {
  display: inline-block;
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .form-item label {
    font-size: 4.26666667vmin;
    color: #000;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-item label {
    float: left;
    position: relative;
    width: 8.25rem;
    height: 1.75rem;
    line-height: 1.75rem;
    text-align: right;
  }
  .page-main .main-container .main-form .form-item label:after {
    content: "：";
    position: absolute;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .form-item .form-item-input {
    padding: 2.4vmin 0 1.2vmin;
    border-bottom: 0.26666667vmin solid #dadada;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-item .form-item-input {
    float: left;
    height: 1.875rem;
    margin-left: 1.75rem;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .form-item .form-item-input select {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 4vmin;
    line-height: 5.2vmin;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-item .form-item-input select {
    width: 14.875rem;
    height: 1.75rem;
    background: #fff;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23000' stroke-width='0.9' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5px center; /* 水平靠右12px，垂直居中 */
    background-size: 8px;
    padding: 0 0.3125rem;
    border: solid 1px #A9A9A9;
    border-radius: 3px;
    color: #757575;
  }
}
.page-main .main-container .main-form .form-item .form-item-input select option {
  color: #000;
}
.page-main .main-container .main-form .form-item .form-item-input select {
  /* 已选有效科目：正常黑色文字 */
}
.page-main .main-container .main-form .form-item .form-item-input select:valid {
  color: #757575;
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .form-item .form-item-input .input-name,
  .page-main .main-container .main-form .form-item .form-item-input .input-id {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 4vmin;
    color: #333;
    line-height: 5.2vmin;
  }
  .page-main .main-container .main-form .form-item .form-item-input .input-name::placeholder,
  .page-main .main-container .main-form .form-item .form-item-input .input-id::placeholder {
    font-size: 3.46666667vmin;
    color: #b3b3b3;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-item .form-item-input .input-name,
  .page-main .main-container .main-form .form-item .form-item-input .input-id {
    width: 14.875rem;
    height: 1.75rem;
    background: #fff;
    padding: 0 0.3125rem;
    border: solid 1px #a9a9a9;
    border-radius: 0.3125rem;
    font-size: 0.8125rem;
    line-height: 1.75rem;
    color: #000;
  }
  .page-main .main-container .main-form .form-item .form-item-input .input-name::placeholder,
  .page-main .main-container .main-form .form-item .form-item-input .input-id::placeholder {
    font-size: 0.8125rem;
    color: #b3b3b3;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .form-item .form-item-input-extra {
    margin-top: 0.6vmin;
    font-size: 3.6vmin;
    color: #a3a3a3;
    text-align: right;
  }
  .page-main .main-container .main-form .form-item .form-item-input-extra a {
    margin-left: 1.5vmin;
    font-size: 3.6vmin !important;
    color: #003f7e;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-item .form-item-input-extra {
    display: none;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-btn {
    clear: both;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .form-btn button[type=submit] {
    display: block;
    width: 80%;
    height: 9vmin;
    background: #003f7e;
    margin: auto;
    border: none;
    border-radius: 1.5vmin;
    font-size: 4vmin;
    line-height: 9vmin;
    color: #fff;
    text-align: center;
  }
  .page-main .main-container .main-form .form-btn button[type=submit] span {
    display: inline-block;
    width: 3em;
    text-align-last: justify;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-btn button[type=submit] {
    width: 5rem;
    height: 1.875rem;
    background: #01ADEF;
    margin: 0 0.3125rem;
    border: 0;
    border-radius: 0.1875rem;
    line-height: 1.875rem;
    color: #fff;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .form-btn button[type=reset] {
    display: none;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .form-btn button[type=reset] {
    width: 5rem;
    height: 1.875rem;
    background: #01ADEF;
    margin: 0 0.3125rem;
    border: 0;
    border-radius: 3px;
    line-height: 1.875rem;
    color: #fff;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .dt-form-item-input-extra {
    display: none;
  }
}
.page-main .main-container .main-form .dt-form-item-input-extra {
  position: absolute;
  left: 35.5rem;
  top: 7.875rem;
}
.page-main .main-container .main-form .dt-form-item-input-extra .dt-input-extra-container {
  position: relative;
  width: 14.0625rem;
  background: #f9fdfe;
  padding: 0.625rem;
  border: 0.0625rem solid #beceeb;
  border-radius: 0.3125rem;
}
.page-main .main-container .main-form .dt-form-item-input-extra .dt-input-extra-container .extra-top {
  position: absolute;
  left: -1.875rem;
  top: 1.875rem;
  width: 0;
  height: 0;
  border-width: 0.9375rem;
  border-style: dashed solid dashed dashed;
  border-color: transparent #beceeb transparent transparent;
  font-size: 0;
}
.page-main .main-container .main-form .dt-form-item-input-extra .dt-input-extra-container .extra-bot {
  position: absolute;
  left: -1.75rem;
  top: 1.875rem;
  width: 0;
  height: 0;
  border-width: 0.9375rem;
  border-style: dashed solid dashed dashed;
  border-color: transparent #ffffff transparent transparent;
  font-size: 0;
}
.page-main .main-container .main-form .dt-form-item-input-extra .dt-input-extra-container .extra-content {
  position: relative;
}
.page-main .main-container .main-form .dt-form-item-input-extra .dt-input-extra-container .extra-content .extra-circle-l {
  position: absolute;
  top: 0.3125rem;
  left: 0;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: #fff;
  border: 1px solid #5fb5d6;
  border-radius: 0.75rem;
  line-height: 0.75rem;
}
.page-main .main-container .main-form .dt-form-item-input-extra .dt-input-extra-container .extra-content .extra-circle-l .extra-circle-s {
  position: absolute;
  left: 0.125rem;
  top: 0.125rem;
  width: 0.375rem;
  height: 0.375rem;
  background: #5fb5d6;
  border-radius: 0.375rem;
}
.page-main .main-container .main-form .dt-form-item-input-extra .dt-input-extra-container .extra-content .extra-text {
  padding: 0 0 0 1.25rem;
  line-height: 180%;
  font-size: 0.8125rem;
  color: #666;
}
.page-main .main-container .main-form .dt-form-item-input-extra .dt-input-extra-container .extra-content .extra-text a {
  display: inline-block;
  color: #01adef;
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .main-form-notice {
    margin: 3vmin 0;
    font-size: 3.46666667vmin;
    color: #ff9919;
    text-align: justify;
  }
  .page-main .main-container .main-form .main-form-notice div {
    display: none;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .main-form-notice {
    width: 37.5rem;
    background: #FAFAFA;
    margin: 1.875rem auto;
    padding: 0.625rem;
    border-left: 0.3125rem solid #D0E0EE;
    border-radius: 0 0.125rem 0.125rem 0;
    line-height: 1.6;
  }
  .page-main .main-container .main-form .main-form-notice span {
    line-height: 1.8;
  }
  .page-main .main-container .main-form .main-form-notice p:nth-child(n+3) {
    display: none;
  }
}
.page-main .main-container .main-form .main-form-question {
  border-top: 0.4vmin solid #dadada;
  font-size: 4vmin;
  line-height: 10vmin;
  color: #003f7e;
  text-align: center;
}
.page-main .main-container .main-form .main-form-question a {
  color: #003f7e;
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .main-form-question {
    display: none;
  }
}
@media (max-width: 768px) {
  .page-main .main-container .main-form .main-form-history {
    margin: 3vmin 3vmin 6vmin;
    padding: 3vmin;
    border-radius: 1.5vmin;
  }
  .page-main .main-container .main-form .main-form-history p {
    margin: 0 0 3vmin;
    font-size: 4vmin;
    color: black;
    text-align: justify;
  }
  .page-main .main-container .main-form .main-form-history a {
    display: block;
    width: 80%;
    height: 9vmin;
    background: #003f7e;
    margin: auto;
    border: none;
    border-radius: 1.5vmin;
    font-size: 4vmin;
    line-height: 9vmin;
    color: #fff;
    text-align: center;
  }
}
@media (min-width: 769px) {
  .page-main .main-container .main-form .main-form-history {
    width: 37.5rem;
    margin: 1.25rem auto;
  }
  .page-main .main-container .main-form .main-form-history-container {
    padding: 0.9375rem;
    border: 0.0625rem solid #ddd;
  }
  .page-main .main-container .main-form .main-form-history-container p {
    height: 3.25rem;
    font-size: 0.875rem;
    text-align: justify;
  }
  .page-main .main-container .main-form .main-form-history-container a {
    display: block;
    width: 7.5rem;
    height: 1.875rem;
    background: #01ADEF;
    margin: auto;
    border-radius: 0.1875rem;
    font-size: 0.875rem;
    line-height: 1.875rem;
    color: #fff;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main-side {
    display: none;
  }
}
.main-side {
  float: left;
  width: 20rem;
  margin: 1.25rem 0 0 1.25rem;
  font-size: 0.875rem;
  color: #404040;
  text-align: left;
}
.main-side .main-side-contact,
.main-side .main-side-question,
.main-side .main-side-operation {
  border-bottom: 1px solid #dddddd;
}
.main-side .main-side-contact .main-side-title,
.main-side .main-side-question .main-side-title,
.main-side .main-side-operation .main-side-title {
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  margin: 0.5rem 0 0;
  padding: 0.5rem 0 1.25rem 1rem;
  font-size: 1.125rem;
}
.main-side .main-side-contact .main-side-title::before,
.main-side .main-side-question .main-side-title::before,
.main-side .main-side-operation .main-side-title::before {
  content: "";
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 1rem;
  background: #fe8500;
}
.main-side .main-side-contact .main-side-item,
.main-side .main-side-question .main-side-item,
.main-side .main-side-operation .main-side-item {
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  line-height: 1.25rem;
}
.main-side .main-side-question .main-side-item {
  cursor: pointer;
}
.main-side .main-side-contact img {
  vertical-align: middle;
}
.main-side .main-side-contact .main-side-item {
  padding-left: 1rem;
}
.main-side .main-side-contact .main-side-item span {
  margin-left: 0.5rem;
}