@charset "UTF-8";
@media (max-width: 768px) {
  .page-main {
    color: #000;
  }
  .page-main .main-title {
    margin: 1.2vmin;
    font-size: 4.53333333vmin;
    font-weight: 700;
    line-height: 1.5;
    color: #003f7e;
    text-align: center;
  }
  .page-main .main-score .score-user-list {
    margin: 3vmin;
    padding: 0 3vmin;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1.8vmin rgba(0, 0, 0, 0.2);
  }
  .page-main .main-score .score-user-list .score-user-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.26666667vmin solid #dadada;
    font-size: 4.26666667vmin;
    line-height: 10vmin;
  }
  .page-main .main-score .score-user-list .score-user-list-item:last-child {
    border-bottom: none;
  }
  .page-main .main-score .score-user-list .score-user-list-item:nth-child(-n+3) span:nth-child(1) {
    display: inline-block;
    width: 4em;
    text-align-last: justify;
  }
  .page-main .main-score .score-user-list .score-user-list-item span:nth-child(2) {
    width: 59%;
    text-align: right;
    word-break: break-all;
  }
  .page-main .main-score .score-container-oral,
  .page-main .main-score .score-container-written {
    margin: 3vmin;
    border: 0.26666667vmin solid #c8ddee;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1.8vmin rgba(0, 0, 0, 0.2);
  }
  .page-main .main-score .score-container-oral .score-container-title,
  .page-main .main-score .score-container-written .score-container-title {
    background: #edf3f9;
    border-top-right-radius: 1.5vmin;
    border-top-left-radius: 1.5vmin;
    font-size: 4vmin;
    font-weight: 700;
    line-height: 8vmin;
    text-align: center;
    align-items: center;
  }
  .page-main .main-score .score-oral-list,
  .page-main .main-score .score-written-list {
    padding: 0 3vmin;
  }
  .page-main .main-score .score-oral-list li,
  .page-main .main-score .score-written-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.26666667vmin solid #dadada;
    font-size: 4.26666667vmin;
    line-height: 10vmin;
  }
  .page-main .main-score .score-oral-list li span:nth-child(2),
  .page-main .main-score .score-written-list li span:nth-child(2) {
    width: 59%;
    text-align: right;
    word-break: break-all;
  }
  .page-main .main-score .score-oral-list li:nth-child(n+3),
  .page-main .main-score .score-written-list li:nth-child(n+3) {
    padding-left: 4.1em;
  }
  .page-main .main-score .score-oral-list li:nth-child(n+3) span:nth-child(1),
  .page-main .main-score .score-written-list li:nth-child(n+3) span:nth-child(1) {
    display: inline-block;
    width: 5em;
    text-align-last: justify;
  }
  .page-main .main-score .score-oral-list li:nth-child(n+3) span:nth-child(2),
  .page-main .main-score .score-written-list li:nth-child(n+3) span:nth-child(2) {
    color: #003e7d;
  }
  .page-main .main-score .score-oral-list .oral-score-label,
  .page-main .main-score .score-oral-list .score-total-label,
  .page-main .main-score .score-written-list .oral-score-label,
  .page-main .main-score .score-written-list .score-total-label {
    display: inline-block;
    width: 4em;
    text-align-last: justify;
  }
  .page-main .main-score .score-oral-list .score-total-value,
  .page-main .main-score .score-written-list .score-total-value {
    color: red;
  }
  .page-main .main-score .score-oral-list .oral-level-value,
  .page-main .main-score .score-written-list .oral-level-value {
    color: black;
  }
  .page-main .main-notice {
    margin: 3vmin;
    padding: 3vmin;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1.8vmin rgba(0, 0, 0, 0.2);
    font-size: 4vmin;
    color: #a3a3a3;
    text-align: justify;
  }
  .page-main .main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vmin 0;
  }
  .page-main .main-btn .btn-back {
    width: 95%;
    height: 10vmin;
    background: #003f7e;
    margin: 0 3vmin;
    border: none;
    border-radius: 1.5vmin;
    font-size: 4vmin;
    line-height: 10vmin;
    color: #fff;
    text-align: center;
  }
  .page-main .main-btn .btn-back span {
    display: inline-block;
    width: 3em;
    text-align-last: justify;
  }
}
@media (min-width: 769px) {
  .page-main .main-title {
    height: 1.875rem;
    margin: 2.5rem 0;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #3083c7;
    text-align: center;
  }
  .page-main .main-score .score-user-list {
    width: 28.125rem;
    margin: 0.625rem auto;
    font-size: 1rem;
    overflow: hidden;
  }
  .page-main .main-score .score-user-list .score-user-list-item {
    line-height: 2;
  }
  .page-main .main-score .score-user-list .score-user-list-item:nth-child(-n+3) span:nth-child(1) {
    display: inline-block;
    width: 4em;
    text-align-last: justify;
  }
  .page-main .main-score .score-user-list .score-user-list-item span:nth-child(1) {
    position: relative;
  }
  .page-main .main-score .score-user-list .score-user-list-item span:nth-child(1)::after {
    content: "：";
    position: absolute;
  }
  .page-main .main-score .score-user-list .score-user-list-item span:nth-child(2) {
    margin-left: 0.75rem;
  }
  .page-main .main-score .score-container-oral,
  .page-main .main-score .score-container-written {
    width: 28.125rem;
    margin: auto;
    font-size: 1rem;
  }
  .page-main .main-score .score-container-oral .score-container-title,
  .page-main .main-score .score-container-written .score-container-title {
    background: #D0E0EE;
    padding: 0.625rem;
    font-weight: 700;
    text-align: center;
  }
  .page-main .main-score .score-oral-list li,
  .page-main .main-score .score-written-list li {
    line-height: 2;
  }
  .page-main .main-score .score-oral-list li span:nth-child(1),
  .page-main .main-score .score-written-list li span:nth-child(1) {
    position: relative;
  }
  .page-main .main-score .score-oral-list li span:nth-child(1)::after,
  .page-main .main-score .score-written-list li span:nth-child(1)::after {
    content: "：";
    position: absolute;
  }
  .page-main .main-score .score-oral-list li span:nth-child(2),
  .page-main .main-score .score-written-list li span:nth-child(2) {
    margin-left: 0.75rem;
  }
  .page-main .main-score .score-oral-list li:nth-child(2) span:nth-child(1),
  .page-main .main-score .score-written-list li:nth-child(2) span:nth-child(1) {
    display: inline-block;
    width: 4em;
    text-align-last: justify;
  }
  .page-main .main-score .score-oral-list li:nth-child(n+3),
  .page-main .main-score .score-written-list li:nth-child(n+3) {
    padding-left: 5em;
  }
  .page-main .main-score .score-oral-list li:nth-child(n+3) span:nth-child(1),
  .page-main .main-score .score-written-list li:nth-child(n+3) span:nth-child(1) {
    display: inline-block;
    width: 5em;
    text-align-last: justify;
  }
  .page-main .main-score .score-oral-list li:nth-child(n+3) span:nth-child(2),
  .page-main .main-score .score-written-list li:nth-child(n+3) span:nth-child(2) {
    font-style: initial;
    font-weight: 700;
    color: #19407A;
  }
  .page-main .main-score .score-oral-list .score-total-value,
  .page-main .main-score .score-written-list .score-total-value {
    font-weight: 700;
    color: #FC1200;
  }
  .page-main .main-notice {
    width: 28.125rem;
    background: #FAFAFA;
    margin: 0.625rem auto;
    padding: 0.9375rem;
    border-left: 0.3125rem solid #D0E0EE;
    border-radius: 0 0.125rem 0.125rem 0;
    font-size: 0.875rem;
    line-height: 1.6;
  }
  .page-main .main-btn {
    margin: 1.875rem 0 0 0;
    text-align: center;
  }
  .page-main .main-btn .btn-back {
    display: inline-block;
    width: 6.25rem;
    height: 2.1875rem;
    background: #32AEEA;
    margin: 0 0.3125rem;
    border: none;
    border-radius: 0.3125rem;
    line-height: 2.1875rem;
    font-size: 0.875rem;
    color: #fff;
    text-align: center;
  }
}